<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Héctor Álvarez">

    <title>replay.ai test app</title>
    <!-- BOOTSTRAP -->
    <!--    CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="{{ STATIC_URL }}css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="toggled" id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <a href={% url 'home' %}>ebury</a>
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li><a href={% url 'logout' %} title="logout"> &#10148; logout</a></li>
                    <li><a href={% url 'change_password' %} title="Change password"> &#10148; change password</a></li>
                    <li><a href={% url 'trades' %} title="List of trades"> &#10148; list of trades</a></li>
                {% else %}
                    <li><a href={% url 'login' %} title="login"> &#10148; login</a></li>
                    <li><a href={% url 'register' %} title="Register"> &#10148; register</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                {% block inside_content %}

<h1>TRADING REGISTRY</h1>
<h3>REQUIREMENTS</h3>
<P><a href="https://www.docker.com/"><b>docker</b></a> with <a href="https://docs.docker.com/compose/install/"><b>docker-compose</b></a>; and the type: "docker-compose up"</P>
<p>After the process the web will be available at <a href="http://localhost/">localhost</a></p>
<p></p>
<h3>USERS</h3>
<p>There are 2 pregenerated users in te system:</p>
    <ul>
        <li><p><b>( monobot / admin )</b> is the django superuser, you can access the administration site <a href="{% url 'admin:index' %}">here</a></p></li>
        <li><p><b>( plain_user / admin )</b> is a regular user you can use to see and create trades</p></li>
    </ul>
<p>A very basic user creation and change password exists, so you can generate your own users if you like it so.</p>
<h3>Trading</h3>
<h4>Model considerations:</h4>
<p>The indentificator is a unique field in the database, to generate the alphanumeric hash the item id and book date are used. To avoid collisions (not that low for 7 characters) there is a fail proof recursive method that checks before the save.</p>
<h4>Trading system considerations:</h4>
<p>When the system starts a django command is launched to save all the different currencies changes and stores them in the redis cache. </p>
<p>But when the trade is booked its checked again right before the save in the database to get the most updated rate in the very same moment of the save, if the external api is not available in the time of the save the transaction is declined.</p>
<p>Althought the frontend also checks the exchange rate in real time (first gets the rate from the cache and then updates with the latest). its not considered secure to take that data as correct and so both the rate and buy_amount are not available fields in the api.</p>
<p>Examples of possible exploits avoided with that:</p>
<ul>
    <li>Someone sets the trade and then waits hours before clicking the save button, and doing the same thing with other currencies can exploit the system getting great profit</li>
    <li>If the api is public (or vulnerable) they can manually set the rate and/or buy_amount and so buy without the real money required</li>
</ul>
<h3>DOCKERIZATION</h3>
<p>The application is divided into 5 docker containers</p>
<table class="table table-striped table-hover">
    <thead>
        <th>application</th>
        <th>container name</th>
        <th>autostart</th>
    </thead>
    <tbody>
        <tr>
            <td><b>postgres</b></td>
            <td>db_eb_postgres</td>
            <td>yes</td>
        </tr>
        <tr>
            <td><b>redis</b></td>
            <td>redis_cache</td>
            <td>yes</td>
        </tr>
        <tr>
            <td><b>django</b></td>
            <td>django</td>
            <td>yes</td>
        </tr>
        <tr>
            <td><b>nginx</b></td>
            <td>webserver</td>
            <td>yes</td>
        </tr>
        <tr>
            <td><b>testing</b></td>
            <td>db_eb_testing</td>
            <td>no</td>
        </tr>
    </tbody>
</table>
<br>
<p>To lower a bit the container isolation, I have done the next:</p>
<h4>logging</h4>
<p>The <b>django</b>, de <b>nginx</b> and <b>gunicorn</b> log files are stored on <b>logs/</b> directory of the host OS</p>
<br>
<h4>database</h4>
<p>A fabric command will create a database backup into <b>db_backup/</b> directory</p>
<pre>../ebury_root$ fab db_backup</pre>
<br>
<h3>TESTING</h3>
<p>First start the docker testing database container (if its not already started):</p>
<pre>$ docker start db_eb_testing</pre>
<p>Also start the django container (if its not already started):</p>
<pre>$ docker start eburyroot_django</pre>
<p>Then we can run the tests</p>
<pre>$ docker exec -i -t eburyroot_django python manage.py test</pre>
<p>And lastly stop the testing database container (we will not automatically stop the django container)</p>
<pre>$ docker stop db_eb_testing</pre>
<br>
<p>To automatize the process there is also a fabric command</p>
<pre>../ebury_root$ fab test</pre>
<br>

                {% endblock inside_content %}
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    {# bootstrap #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {# bootstrap #}
    {% block javascript %}

    {% endblock javascript %}
</body>

</html>
